.card {
    width: 80%;
    margin: 20px auto auto;
    box-shadow: 0 2px 4px rgba(25, 25, 25, 0.5);
    border-radius: 15px;
    padding: 10px;
}

.title {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.content {
    text-align: center;
}

.image {
    margin: 10px auto auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}