.main {
    display: flex;
    position: fixed;
    bottom: 0;
    font-weight: lighter;
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: wheat;
}
.item {
    text-align: center;
    width: 50%;
}