.main {
    background-color: darkgrey;
    height: auto;
    margin-top: 80px;
    padding-top: 15px;
}

.container {
    width: 90%;
    display: flex;
    text-align: center;
}

.item {
    width: 50%;
}